<%= render :partial => "pages/navbar" %>

<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Hello <%= @user.name.capitalize %>!</h1>
        <p>Ready to study? Start a new course!</p>
        <div class="container">
        <!-- Row of columns for recent courses -->
      
          <div class="row">
            <% @user.courses.each do |course| %>
            <div class="col-md-4">
              <h2><%= course.name %></h2>
              <p><%= course.description %></p>
              <%= button_to "Continue Studying", course_path(course), method: :get, class:"btn btn-secondary", role:"button" %>
              </div>
              <% end %>
            </div>

        <div class="container" id="course_list">
            
        </div>
        <div>
            <p>Find other courses</p>
        </div>
      </div>
    </div>

    